body {
font-family: sans-serif;
font-size: small;
line-height: 1.6em;
background-color: #0000001e; 
}
div#tableContainer {
    display: table;
    border-spacing: 20px;
}
div#tableRow {
    display: table-row;
    
}
.references {
font-style: italic;
background-image: url(reference_symbol.png);
padding-left:23px;
background-repeat: no-repeat;
background-position:top left;
text-align: center;
}
h1.cancer, h1.hematology, h1.references, h2 {
color: #003E49;
font-size: 200%;
font-style: bold;
text-align: center;
}
.hematology {
padding-left:30px;
background-image: url(blood_symbol.png);
background-repeat: no-repeat;
background-position:top left;
}
.cancer {
padding-left:30px;
background-image: url(cancer_symbol.png);
background-repeat: no-repeat;
background-position:top left;
}

aside h2{
color: #034B72
}
#tre {
font-weight: bold;
}
#utility {
    display: table-cell;
    vertical-align: top;
padding: 0px 20px 20px 20px;
color: #0F5965;
line-height:1;
text-align: center;
     background-color: rgb(226, 253, 201);
    border: thin solid #073900;
}
#main {
    display: table-cell;
    vertical-align: top;
    background-color: rgb(226, 253, 201);
    padding: 0px 20px 20px 20px;
    line-height: 1;
    border: thin solid #073900;
    text-align: center;
    color: #0F5965;
}
a:link {
    color: #275E34;

}
a:visited {
    color: rgb(16, 45, 46);
}
header {
    text-align: center;
    font-size: xx-large;
    font-style: bold;
    color: rgb(246, 255, 245);
    background-color: #117670; 
    height: 108px;
    line-height: 2;
}
#references {
    display: table-cell;
    vertical-align: top;
      width: 30%;
padding: 0px 20px 20px 20px;
color: #0F5965;
line-height:1;
text-align: center;
    background-color: rgb(226, 253, 201);
    border: thin solid #073900;
}
h1 {
    text-align: left;
}
footer {text-align: center;}
aside {
     transform: rotate(3deg);
padding: 0px 20px 20px 20px;
width: 20%;
color: #0F5965;
vertical-align: top;
text-align: center;
line-height:1.2;
background-repeat: no-repeat;
     background-color: rgb(226, 253, 201);
    border: thin solid #073900;
}

ul {list-style-type: none}
#hours {text-align: center;
color: rgb(8, 26, 8); }
#clock {text-align: left;
color: rgb(200, 241, 16)}
#hours {text-align: left;
color: rgb(67, 77, 27)}